<header>
  <!-- User Authentication Links (Register & Login) -->
  <ul class="user-auth-links">
    <!-- Show Register and Login if the user is not logged in -->
    <li *ngIf="!authService.isLoggedIn()">
      <a href="/signup" alt="register-button">Register</a>
    </li>
    <li *ngIf="!authService.isLoggedIn()">
      <a href="/signin" alt="login-button"><i class="fas fa-user-alt"></i> Login</a>
    </li>
  
    <!-- Show Profile Icon if the user is logged in -->
    <li *ngIf="authService.isLoggedIn()">
      <a href="/profile" alt="profile-button"><i class="fas fa-user"></i> Profile</a>
    </li>
  </ul>
  
  
  <!-- Contact Information -->
  <h5>
    +94 752 165 397 <a href="mailto:engsahaly@gmail.com?subject=Hello!">info&#64;booking.com</a>
  </h5>
</header>

<nav>
  <!-- Main Navigation -->
  <ul class="main-nav">
    <li><a href="#" alt="homepage">Home</a></li>	
    <li><a href="#" alt="vehicle-list">Vehicles</a></li>	
    <li><a href="#" alt="blog">Blog <i class="fas fa-chevron-down"></i></a></li>	
    <li><a href="#" alt="about-us">About Us</a></li>	
    <li><a href="#" alt="contact-us">Contact</a></li>	
  </ul>
  
  <!-- Branding/Logo -->
  <h1 class="brand">
    <i class="fas fa-car"></i>
    Vehicle <span class="normal-text">Bookings</span> .com
  </h1>
</nav>
