<header>
  <ul>
    <li><a href="#" alt="registerbutton">Register </a></li>
    <li><a href="#" alt="logonbutton"><i class="fas fa-user-alt"></i> Login</a></li>
  </ul>
  
  <h5>
    +94 752 165 397 <a href="mailto:engsahaly@gmail.com?subject=Hello!">info&#64;booking.com</a>
  </h5>
  

</header>

<nav>
  
  <ul>
    <li><a href="#" alt="homepage">home</a></li>	
    <li><a href="#" alt="homepage">courses</a></li>	
    <li><a href="#" alt="homepage">blog <i class="fas fa-chevron-down"></i> </a></li>	
    <li><a href="#" alt="homepage">pages <i class="fas fa-chevron-down"></i></a></li>	
    <li><a href="#" alt="homepage">contact</a></li>	
  </ul>
  
  <h1>
  <i class="fab fa-angrycreative"></i>
  Bookings <span class="normalclass"> .com </span>
  </h1>
</nav>