<div class="container">
  <div class="main-body">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
      </ol>
    </nav>
    <!-- /Breadcrumb -->

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <div class="profile-container">
                <label for="fileInput">
                  <img
                    [src]="userData.imageurl ? userData.imageurl : 'https://bootdey.com/img/Content/avatar/avatar7.png'"
                    alt="User Image" class="rounded-circle" width="150"
                    style="border: 3px solid rgb(186, 186, 186); padding: 10px; cursor: pointer;">
                </label>

                <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;">
              </div>
              <button *ngIf="imageUploadbtn" (click)="uploadProfileImage()" class="btn btn-success">Upload</button>

              <div class="mt-3">
                <h4>{{userData.firstName ? userData.firstName :''}}</h4>
                <!-- <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> -->
                <button class="btn"
                  style="padding: 4px 20px; margin-top: 5px; border-radius: 20px; background-color: yellow;"
                  (click)="confirmLogout()">Log Out</button>
                <!-- <button class="btn btn-outline-primary">Message</button> -->
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card mt-3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                    <span class="text-secondary">https://bootdey.com</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                    <span class="text-secondary">bootdey</span>
                  </li>
                </ul>
              </div> -->
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">First Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <label *ngIf="!isEditing">{{ userData.firstName || 'Not Available' }}</label>
                <input *ngIf="isEditing" type="text" name="firstname" id="firstname" [(ngModel)]="userData.firstName" />
              </div>
            </div>
            <hr>

            <!-- Last Name -->
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Last Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <label *ngIf="!isEditing">{{ userData.lastName || 'Not Available' }}</label>
                <input *ngIf="isEditing" type="text" name="lastname" id="lastname" [(ngModel)]="userData.lastName" />
              </div>
            </div>
            <hr>

            <!-- Email -->
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <label *ngIf="!isEditing">{{ userData.email || 'Not Available' }}</label>
                <input *ngIf="isEditing" type="text" name="email" id="email" [(ngModel)]="userData.email" />
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-success" (click)="userDataUpdate()" *ngIf="isEditing"> Save</button>
                <button class="btn btn-info" (click)="toggleEdit()" style="margin-left: 8px;"> {{ isEditing ? 'Cancel' :
                  'Edit' }}</button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row gutters-sm">
      <!-- Pending Bookings -->
      <div class="col-sm-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h6 class="d-flex align-items-center mb-3">
              <i class="material-icons text-info mr-2">pending</i> Bookings
            </h6>
            <ul class="list-group">
              <li *ngIf="pendingBookings.length === 0" class="list-group-item">
                <span style="font-size: 12px; opacity: 0.7;">No bookings found.</span>
              </li>
              <li *ngFor="let booking of pendingBookings" class="list-group-item"
                >
                <strong (click)="openModalToShowBookingData(booking)">{{ booking.pickUpLocation }} to {{ booking.destination }}</strong><br>
                <small (click)="openModalToShowBookingData(booking)">{{ booking.bookingDate | date:'yyyy-MM-dd HH:mm:ss' }}</small>
                <button style="background-color: red; color: white; padding: 2px 12px; border: none; float: right; cursor: pointer;" (click)="deleteBooking(booking.bookingId)">Cancel</button>
              </li>
            </ul>

          </div>
        </div>
      </div>

      <!-- Approved Bookings -->
      <div class="col-sm-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h6 class="d-flex align-items-center mb-3">
              <i class="material-icons text-success mr-2">Approved</i> Bookings
            </h6>
            <ul class="list-group">
              <ul>
                <li *ngIf="approvedBookings.length === 0" class="list-group-item">
                  <span style="font-size: 12px; opacity: 0.7;">No bookings found.</span>
                </li>
                <li *ngFor="let booking of approvedBookings" class="list-group-item">
                  <strong (click)="openModalToShowBookingData(booking)">{{ booking.pickUpLocation }} to {{ booking.destination }}</strong><br>
                  <small (click)="openModalToShowBookingData(booking)">{{ booking.bookingDate | date:'yyyy-MM-dd HH:mm:ss' }}</small>
                  <button style="background-color: red; color: white; padding: 2px 12px; border: none; float: right; cursor: pointer;" (click)="deleteBooking(booking.bookingId)">
                    Delete
                  </button>
                </li>
              </ul>
              
            </ul>

          </div>
        </div>
      </div>

      <!-- Rejected Bookings -->
      <div class="col-sm-4 mb-3">
        <div class="card h-100">
          <div class="card-body">
            <h6 class="d-flex align-items-center mb-3">
              <i class="material-icons text-danger mr-2">Rejected</i> Bookings
            </h6>
            <ul class="list-group">
              <li *ngIf="rejectedBookings.length === 0" class="list-group-item">
               <span style="font-size: 12px; opacity: 0.7;">No bookings found.</span>
              </li>
              <li *ngFor="let booking of rejectedBookings" class="list-group-item"
                >
                <strong (click)="openModalToShowBookingData(booking)">{{ booking.pickUpLocation }} to {{ booking.destination }}</strong><br>
                <small (click)="openModalToShowBookingData(booking)">{{ booking.bookingDate | date:'yyyy-MM-dd HH:mm:ss' }}</small>
                <button style="background-color: red; color: white; padding: 2px 12px; border: none; float: right; cursor: pointer;" (click)="deleteBooking(booking.bookingId)">Delete</button>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Booking Details Modal -->
<p-dialog [modal]="true" [(visible)]="visibleselectedbookingModal" [style]="{ width: '50rem' }">
  <div class="details-container">
    <!-- Vehicle Details - Left Side -->
    <div class="vehicle-details">
      <h4>Vehicle Details:</h4>
      <ul>
        <li *ngIf="selectedBooking?.vehicleImageUrl?.uuid"><img
            [src]="imageLoadurl + selectedBooking?.vehicleImageUrl.uuid"></li>
        <li *ngIf="selectedBooking?.vehicleName"><strong>Vehicle Name:</strong> {{ selectedBooking?.vehicleName }}</li>
        <li *ngIf="selectedBooking?.vehicleDescription"><strong>Vehicle Description:</strong> {{
          selectedBooking?.vehicleDescription }}</li>
        <li *ngIf="selectedBooking?.vehicleMileage"><strong>Vehicle Mileage:</strong> {{ selectedBooking?.vehicleMileage
          }}</li>
        <li *ngIf="selectedBooking?.vehicleFuelType"><strong>Vehicle Fuel Type:</strong> {{
          selectedBooking?.vehicleFuelType }}</li>
        <li *ngIf="selectedBooking?.vehicleTransmission"><strong>Vehicle Transmission:</strong> {{
          selectedBooking?.vehicleTransmission }}</li>
        <li *ngIf="selectedBooking?.vehicleSeatingCapacity"><strong>Vehicle Seating Capacity:</strong> {{
          selectedBooking?.vehicleSeatingCapacity }}</li>
        <li *ngIf="selectedBooking?.vehicleColor"><strong>Vehicle Color:</strong> {{ selectedBooking?.vehicleColor }}
        </li>
        <li *ngIf="selectedBooking?.vehicleYearOfManufacture"><strong>Vehicle Year of Manufacture:</strong> {{
          selectedBooking?.vehicleYearOfManufacture }}</li>
        <li *ngIf="selectedBooking?.vehicleEngineCapacity"><strong>Vehicle Engine Capacity:</strong> {{
          selectedBooking?.vehicleEngineCapacity }}</li>
        <li *ngIf="selectedBooking?.vehicleFuelEfficiency"><strong>Vehicle Fuel Efficiency:</strong> {{
          selectedBooking?.vehicleFuelEfficiency }}</li>
        <li *ngIf="selectedBooking?.vehicleLicensePlate"><strong>Vehicle License Plate:</strong> {{
          selectedBooking?.vehicleLicensePlate }}</li>
      </ul>
    </div>

    <!-- Booking Details - Right Side -->
    <div class="booking-details">
      <h4>Booking Details:</h4>
      <ul>
        <li *ngIf="selectedBooking?.bookingId"><strong>Booking Id:</strong> {{ selectedBooking?.bookingId
          }}</li>
        <li *ngIf="selectedBooking?.pickUpLocation"><strong>Pickup Location:</strong> {{ selectedBooking?.pickUpLocation
          }}</li>
        <li *ngIf="selectedBooking?.destination"><strong>Destination:</strong> {{ selectedBooking?.destination }}</li>
        <li *ngIf="selectedBooking?.bookingDate"><strong>Booking Date:</strong> {{ selectedBooking?.bookingDate |
          date:'yyyy-MM-dd HH:mm:ss' }}</li>
        <li *ngIf="selectedBooking?.price"><strong>Price:</strong> {{ selectedBooking?.price }}</li>
        <li *ngIf="selectedBooking?.totalPrice"><strong>Total Price:</strong> {{ selectedBooking?.totalPrice }}</li>
        <li *ngIf="selectedBooking?.status">
          <strong>Status:</strong>
          <span [ngClass]="{
                'pending-status': selectedBooking?.status == 0, 
                'approved-status': selectedBooking?.status == 1, 
                'rejected-status': selectedBooking?.status == 2
              }">
            {{ selectedBooking?.status == 0 ? 'Pending..' : selectedBooking?.status == 1 ? 'Approved..' : 'Rejected..'
            }}
          </span>
        </li>
        <li *ngIf="selectedBooking?.driverId"><strong>Driver ID:</strong> {{ selectedBooking?.driverId || 'N/A' }}</li>
        <li *ngIf="selectedBooking?.nic"><strong>Customer NIC:</strong> {{ selectedBooking?.nic }}</li>
        <li *ngIf="selectedBooking?.days"><strong>Booking Days:</strong> {{ selectedBooking?.days }}</li>
        <li *ngIf="selectedBooking?.phone"><strong>Phone:</strong> {{ selectedBooking?.phone }}</li>
        <li *ngIf="selectedBooking?.address"><strong>Address:</strong> {{ selectedBooking?.address }}</li>
      </ul>

      <h4
        *ngIf="selectedBooking?.defaultTaxRate || selectedBooking?.additionalTaxRate || selectedBooking?.defaultTaxDays">
        Tax Details:</h4>
      <ul>
        <li *ngIf="selectedBooking?.defaultTaxRate && selectedBooking?.defaultTaxRate>0"><strong>Default Tax
            Rate:</strong>
          {{ selectedBooking?.defaultTaxRate }}% (Rs {{ (selectedBooking?.price/100)*selectedBooking?.defaultTaxRate}})
          of Rs{{ selectedBooking?.price}} for {{ selectedBooking?.defaultTaxDays }} days 
          =  <strong> Rs {{ (((selectedBooking?.price / 100) * selectedBooking?.defaultTaxRate))}} </strong>
        </li>
        <li
          *ngIf="selectedBooking?.additionalTaxRate && selectedBooking?.additionalTaxRate > 0 && selectedBooking?.days > selectedBooking?.defaultTaxDays">
          <strong>Additional Tax Rate:</strong>
          {{ selectedBooking?.additionalTaxRate }}% of Rs {{ selectedBooking?.price }}
          (Rs {{ (selectedBooking?.price / 100) * selectedBooking?.additionalTaxRate }})
          per day after {{ selectedBooking?.defaultTaxDays }} days =
          <strong> Rs {{ (((selectedBooking?.price / 100) * selectedBooking?.additionalTaxRate)*(selectedBooking?.days -
            selectedBooking?.defaultTaxDays))}} </strong>
          <span *ngIf="selectedBooking?.days">for booking {{ selectedBooking?.days }} days</span>
        </li>
        <li><strong>Tax prices: </strong>
          <strong> Rs {{ (((selectedBooking?.price / 100) * selectedBooking?.defaultTaxRate))}} </strong>+
          <strong> Rs {{ (((selectedBooking?.price / 100) * selectedBooking?.additionalTaxRate)*(selectedBooking?.days -
            selectedBooking?.defaultTaxDays))}} </strong>=
            <strong> Rs {{ (((selectedBooking?.price / 100) * selectedBooking?.defaultTaxRate))+(((selectedBooking?.price / 100) * selectedBooking?.additionalTaxRate)*(selectedBooking?.days -
            selectedBooking?.defaultTaxDays))}} </strong>
        </li>
        <li><strong>Final price: </strong>
          <strong> Rs {{selectedBooking?.price}} </strong>+
          <strong> Rs {{ (((selectedBooking?.price / 100) * selectedBooking?.defaultTaxRate))+(((selectedBooking?.price / 100) * selectedBooking?.additionalTaxRate)*(selectedBooking?.days -
            selectedBooking?.defaultTaxDays))}} </strong>=
             <strong> Rs {{ (((selectedBooking?.price / 100) * selectedBooking?.defaultTaxRate))+(((selectedBooking?.price / 100) * selectedBooking?.additionalTaxRate)*(selectedBooking?.days -
            selectedBooking?.defaultTaxDays))+selectedBooking?.price}} </strong>
        </li>
      </ul>
    </div>
  </div>
</p-dialog>