<app-navbar-moderator></app-navbar-moderator>

<div class="cont">
    <div class="panel post">
      <a href="bookingssmanage"><span>8 </span>Manage Bookings</a>
    </div>
    <div class="panel comment">
      <a href="driversmanage"><span>39 </span>Manage Drivers</a>
    </div>
    <!-- <div class="panel page">
      <a href="javascript:void();"><span>5 </span>Pages</a>
    </div> -->
    <div class="panel user">
      <a href="javascript:void();"><span>4 </span>Manage Users</a>
    </div>
  </div>